body {
  font-family: "Montserrat", sans-serif;
}

.main-button {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#fe9418), to(#f5634b));
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  text-decoration: none;
  padding: 18px 40px;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-button svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f5634b), to(#fe9418));
  background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
}
.main-button:hover svg {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

.main-heading {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: auto;
}
.main-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #f5634b;
  width: 10%;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar .navbar-toggler {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar .navbar-toggler svg {
  color: #ffffff;
  font-size: 36px;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-size: 30px;
}
.navbar span {
  color: #f5634b;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus {
  color: #f5634b;
}
.navbar .nav-item .dropdown-menu {
  background-color: #1c1c1c;
}
.navbar .nav-item .dropdown-menu li a {
  color: #c8c8c8;
  background-color: #1c1c1c;
  font-size: 14px;
}
.navbar .nav-item .dropdown-menu li a:hover {
  color: #f5634b;
}
.navbar .phone {
  color: #f5634b;
}

.slider {
  padding: 180px 0;
  background: url(../images/bg/bg-7.jpg) no-repeat 0% 30%;
  background-size: cover;
}
.slider .text {
  z-index: 1000;
}
.slider .text > span {
  color: #ffffff;
  border: 3px solid #ffffff;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 35px;
  display: inline-block;
  padding: 5px 10px;
}
.slider .text h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 95px;
  line-height: 95px;
  margin-bottom: 40px;
}
.slider .text h1 span {
  color: #f5634b;
}
.slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .slider .text {
    text-align: center;
  }
  .slider .text h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
.boxes {
  margin-top: -80px;
  z-index: 1000;
  position: relative;
}
.boxes .box {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1000;
}
.boxes .box .number {
  font-size: 130px;
  opacity: 0.1;
  position: absolute;
  line-height: 120px;
  top: 10px;
  display: block;
}
.boxes .box h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 22px;
  margin-top: 22px;
  z-index: 1000;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.boxes .box p {
  margin-top: 35px;
  z-index: 1000;
  position: relative;
  color: black;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.boxes .box a {
  text-decoration: none;
  color: #f5634b;
  font-size: 12px;
  z-index: 1000;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.boxes .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fe9418), to(#f5634b));
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  -webkit-transform: translateY(-342px);
          transform: translateY(-342px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.boxes .box:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.boxes .box:hover h4, .boxes .box:hover p, .boxes .box:hover a {
  color: white;
  opacity: 1;
}

.content h2 span {
  color: #f5634b;
}

.content-2 {
  padding: 180px 0;
  margin-top: 40px;
  background: url(../images/bg/slide2.jpg) fixed 50% 50% no-repeat;
  background-size: cover;
}
.content-2 .text {
  max-width: 600px;
  z-index: 1000;
  position: relative;
  color: #ffffff;
  font-weight: bold;
}
.content-2 .text h1 {
  margin-bottom: 50px;
}
.content-2 .text h1 span {
  color: #f5634b;
}
.content-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.services {
  padding: 180px 0;
}
.services .box {
  position: relative;
  padding: 30px;
}
.services .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#fe9418), to(#f5634b));
  background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
  width: 100%;
  height: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.services .box:hover::before {
  height: 100%;
}
.services .box:hover svg, .services .box:hover h4, .services .box:hover p {
  color: #ffffff;
}
.services .box:hover p {
  opacity: 1;
}
.services .text {
  z-index: 1000;
  position: relative;
}
.services .text h4 {
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.services .text p {
  line-height: 1.8;
  color: black;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.services svg {
  color: #f5634b;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  z-index: 1000;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery .full-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
}
.gallery .full-img img {
  width: 90%;
  max-width: 500px;
}
.gallery .full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery .full-img span:hover {
  color: red;
}
.gallery .image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.gallery .image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery .image:hover {
  -webkit-transform: scale(0.8) rotate(-15deg);
          transform: scale(0.8) rotate(-15deg);
  padding: 0;
}
.gallery .image:hover img {
  border-radius: 20px;
}

.testimonials {
  background: url(../images/bg/bg-cta.jpg);
  background-size: cover;
  padding: 180px 0;
  z-index: 1000;
  color: #ffffff;
}
.testimonials .container {
  z-index: 1000;
}
.testimonials .container .box > span {
  color: #f5634b;
  font-size: 60px;
  margin-bottom: 20px;
  display: block;
}
.testimonials .container .box h3 {
  margin-bottom: 20px;
}
.testimonials .container .box p {
  max-width: 800px;
  margin: auto;
  color: white;
  opacity: 0.5;
  line-height: 1.6;
  margin-bottom: 20px;
}
.testimonials .container .box div span {
  color: white;
  opacity: 0.5;
}
.testimonials::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.courses {
  padding: 180px 0;
}
.courses .card {
  border: none;
  -webkit-box-shadow: 0px 0px 7px #cbcbcb;
          box-shadow: 0px 0px 7px #cbcbcb;
}
.courses .card h5 {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.courses .card:hover h5 {
  color: #f5634b;
}
.courses a {
  margin: 50px auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  background-color: #181a23;
  color: #ffffff;
  padding: 90px 0;
}
footer h2, footer h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
footer span {
  margin-bottom: 20px;
  font-size: 12px;
  opacity: 0.5;
}
footer p {
  line-height: 1.8;
}
footer p, footer li {
  color: #ffffff;
  opacity: 0.7;
  font-size: 12px;
}
footer .link {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .link:hover {
  color: #f5634b;
}
footer ul li {
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer ul li:hover {
  color: #f5634b;
}
footer .name {
  color: #f5634b;
  font-weight: bold;
  opacity: 1;
  font-size: 12px;
}
footer .facebook, footer .github, footer .twitter {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .facebook:hover, footer .github:hover, footer .twitter:hover {
  color: #f5634b;
}